@charset "utf-8";

/*設定版面區塊且置中*/
#contents {
    width: 960px;
    margin: 40px auto;
    padding: 40px 80px;
    border: 1px solid #f6bb9e;
    background-color: rgba(238, 186, 137, 0.747);
}


/*視窗背景色設定*/
body {
    background-image: url(../img/icon.png);
    background-color: rgb(128, 158, 243);
    background-repeat: repeat;
    background-size: auto;
    background-position: top right;
    background-attachment: fixed;
}

/*連結顏色設定*/
a {
    color: rgb(224, 9, 81);
}

/*頁首,導覽,頁尾的共通設定*/


/*導覽樣式設定*/
.menu li {
    list-style-type: none;
    display: inline-block;
    width: 120px;
    background-color: #f6bb9e;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #fff;
    border: 1px solid orange;
    margin: 0px 10px;
}

.menu a {
    display: inline-block;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    color: #d45ae4;
    text-decoration: none;
}

.menu a:hover {
    background-color: #90f5d3;
    color: red;
}

/*頁面標題設定*/
h1 {
    background-color: #6fbb9a;
    color: #fff;
    width: 300px;
    padding: 20px;
    margin: 40px auto;
    border: 5px #fff;
    text-align: center;
    font-size: 300%;
    border-radius: 50%;
    box-shadow: 10px 10px 10px #000;
    text-shadow: 5px 5px 5px #000;
}

/*次標題設定*/
h2 {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted #94c8b1;
    border-left: 10px solid #d0e35b;
    color: #6fbb9a;
}

/*小標題設定*/
.h-sub {
    padding: 10px;
    background-color: #fbf9cc;
    color: #ff705b;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #ffd0ad inset;
}


/*內容區塊邊框設定*/


/*「更多介紹」連結設定*/


/*連結圖示設定*/


/*區塊間分隔*/


/*文繞圖設定*/
.imgL {
    float: left;
    margin: 20PX;
}

.imgR {
    float: right;
    margin: 20px;
}

.clear {
    clear: both;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*圓形圖片設定*/


/*寵物相片設定*/
.photo {
    width: 480px;
    height: 350px;
}

.imgs {
    border-radius: 50%;

}